<head>
  <title> PolZapp: Login </title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'polls/mdl1.3.0/material.min.css' %}" />
  <script src="{% static 'polls/mdl1.3.0/material.min.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'sesshandlr/styles.css' %}"/>
</head>

<body>
  <div class = 'site-container'>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <h1>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
        <input class="mdl-textfield__input" type="text" name="username" required="" id="id_username">
        <label class="mdl-textfield__label" for="id_username">Username</label>
      </div>
    <br/>
      <div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>
        <input class="mdl-textfield__input" type="password" name="password" required="" id="id_password">
        <label class="mdl-textfield__label" for="id_password">Password</label>
      </div>

      <div>
        <input class="mdl-button" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    <p><a href='{% url "signup" %}'>Sign Up </a></p>
  <div>
</body>
